<% if users.any? %>
  <div class="row">
    <% users.each do |user| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-user shadow bg-white rounded">
          <% if user.avater.present? %>
              <%= image_tag user.avater.url, size: "350x350" %>
            <% else %>
              <%= image_tag "/sample.jpeg", size: "350x350" %>
            <% end %>
          <div class="card-body">
            <div class="text-center">
              <h3><%= user.name %></h3>
            </div>
            <div class="row justify-content-end">
              <div class="col-auto">
                <%= link_to 'View profile', user_url(user), class: 'btn btn-secondary btn-sm' %>
              </div>
              <div class="col-3 offset-1">
                <%= render 'relationships/follow_button', user: user %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="m-5">
  <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>