  <div class="py-5 bg-light">
    <%= form_with(model: @user) do |f| %>
      <div class="row align-items-center justify-content-around">
        <div class="col-md-6">
          <div class="img-upload m-5">
            <div id="image-list"></div>
            <div class="clik-upload">
            <%= f.file_field :avater, id:"post_img" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="m-5">
            <%= f.label :introduction, 'Introduction' %>
            <div class="d-flex align-items-center justify-content-center">
              <%= f.text_area :introduction, class: 'form-control', rows: 7 %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center"> 
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>