<% if logged_in? %>
  <div class="texts-wrapper">
    <div class="contents-title text-center m-5">
      <h1>投稿一覧</h1>
    </div>
      <%= render 'posts/posts', posts: @posts %>
  </div>
  <div class="contents-title text-center m-5">
      <h2>投稿</h2>
  </div>
  <div class="py-5 bg-light">
    <%= form_with(model: @post) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="img-upload m-5">
            <div id="image-list"></div>
            <div class="clik-upload">
            <%= f.file_field :img, id:"post_img" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="m-5">
          <%= f.label :genre, 'Genre' %>
          <%= f.select :genre, [["cake", "cake"], ["cookie", "cookie"], ["ice", "ice"], ["others", "others"]], class: 'form-control' %>
          </div>
          <div class="m-5">
          <%= f.label :location, 'Location' %>
          <%= f.text_field :location, class: 'form-control' %>
          </div>
          <div class="m-5">
          <%= f.label :text, 'Text' %>
          <%= f.text_area :text, class: 'form-control', rows: 5 %>
          </div>
        </div>
      </div>
      <div class="text-center"> 
        <%= f.submit 'Post', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Sweets pic</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="pb-md-3 fw-light">Sweets picとは?</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="circle-group-one m-3">
              <div class="circle-one"></div>
               <p>スイーツの写真を投稿して共有できる<br>Webアプリケーションです!!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="circle-group-two m-3">
              <div class="circle-two"></div>
                <p>登録しているユーザをフォローしたり、いいなと思う投稿にはいいねができます!また、各ジャンルごとのいいねランキングも見れます(^^)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex justify-content-center">
            <div class="circle-group-three m-3">
              <div class="circle-three"></div>
                <p>投稿には、ジャンル(ケーキorクッキーorアイスorその他)やそのスイーツのお店が書かれているので、どこのお店のスイーツかがわかります♪</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>