<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post) do |f| %>
        <div class="mb-3">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Sweets pic</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
